:root {
    --heading-font: 'Arvo', serif;
  --paragraph-font: 'Roboto', sans-serif;

  --heading-color: #0443b3;
  --heading-background: #5f503c;
  --color-white: #fdfdfd;
  --hover-color: #5f503c;

  --trans-color: rgba(196 207 207 / 0.7);
  --trans-text-color: #04040c;

  --footer-background: #3e3e3e;

  --primary-color: #a5b452;
  --secondary-color: #9888a5;
  --accent1-color: #5f503c;
  --accent2-color: #afaf60;

  --nav-link-color: #fff;
  --nav-background-color: #5f503c;
  --nav-hover-link-color: #5f503c;
  --nav-hover-background-color: #fff;
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 600px auto auto;
    align-items: center;
    border-bottom: 2px solid #ccc;
    max-width: 2000px;
    background-color: #5f503c;
}
nav {
    text-align: left;
}
.navigation {
    display: flex;
    list-style: none;
    background-color: greenyellow;
    
}
.navigation li {
    flex: 1 1 100%;
}
.navigation a {
    display: block;
    color: #5f503c;
    padding: 20px;
    text-decoration: none;
}
.navigation a:hover {
    color: #5f503c;
    font-weight: 700;
    text-decoration: underline;
}

.hero {
    position: relative;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.cover {
    width: 900px;
    height: auto;
    /*background-color: black;*/
    margin-top: 10px;
    display: flex;
}

.major {
    width: 100%;
    height: auto;
    /*background-color: #000;
    display: flex;*/
    margin-top: 2px;
}

.major img {
    width: 600px;
    height: 400px;
    padding: 5px;
}

.overlay {
    /*float: none;*/
    position: absolute;
    top: -650px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: #afaf60;
    width: 100%;
}

h1 {
    /*
    text-align: center;*/
    color: black;
    padding: 5px;
    font-size: 3.5rem;
    background-color: #afaf60;
    margin: 1rem auto;
    text-decoration: underline;
}

.image img{
    position: relative;
    width: 600px;
    height: 10%;
}

h2 {
    text-align: center;
    color: black;
    padding: 1px;
    font-size: 2.5rem;
    background-color: greenyellow;
    margin: 1rem auto;
    text-decoration: underline;
}

h3 {
    padding: 1px;
    margin: 0.25rem auto;
    text-decoration: underline;
}

p {
    color: black;
    padding: 3px;
    margin: 0 0 0 0rem;
    font-weight: 100;
}

.history {
    width: 30%;;
}

.adventure img {
    position: relative;
    width: 30%;
    height: auto;
}

.box {
    background-color: #afaf60;
    width: 600px;
    
    text-align:left;
}

.newsletter {
    background: #afaf60;
    margin: 0 auto;
    text-align: center;
    max-width: 930px;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
}

.newsletter hr {
    width: 470px;
    height: 3px;
    margin: 30px auto;
    border: 0;
    background: rgba(255, 255, 255, 0.5);
}

.newsletter input {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 75%;
    height: 35px;
    border: 0px;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 36px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
}

.newsletter label {
    color: black;
    font-size: 20px;
}

.newsletter button {
    border: 1px solid rgba(255, 255, 255, 0.5a);
    border-radius: 3px;
    height: 50px;
    background-color: transparent;
    color: black;
    padding: 0px 28px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 16px;
}

.newsletter button:hover {
    background-color: greenyellow;
    border-color: greenyellow;
}
/*.form {
    display: block;
}*/

.sociallinks {
    margin-left: 1700px;
}

footer p {
    color: #3e3e3e;
}