/*:root {
    --mycolor: purple;
}
*/
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero p {
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;

}

h1 {
    position: relative;
    bottom: 925px;
    left: 500px;
    text-align: center;
    color: white;
    padding: px;
    margin: 0 0 0 0rem;
    font-size: 5rem;
}

.image {
    width: 50%;
    height: auto;
}

.image p {
    position: relative;
}

h2 {
    color: black;
    padding: 3px;
    margin: 0 0 0 0rem;
    font-weight: 600;
}

p {
    color: black;
    padding: 3px;
    margin: 0 0 0 0rem;
    font-weight: 600;
}