:root {
    --heading-font: 'Arvo', serif;
  --paragraph-font: 'Roboto', sans-serif;

  --heading-color: #0443b3;
  --heading-background: #5f503c;
  --color-white: #fdfdfd;
  --hover-color: #5f503c;

  --trans-color: rgba(196 207 207 / 0.7);
  --trans-text-color: #04040c;

  --footer-background: #3e3e3e;

  --primary-color: #a5b452;
  --secondary-color: #9888a5;
  --accent1-color: #5f503c;
  --accent2-color: #afaf60;

  --nav-link-color: #fff;
  --nav-background-color: #5f503c;
  --nav-hover-link-color: #5f503c;
  --nav-hover-background-color: #fff;
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 200px auto auto;
    align-items: center;
    border-bottom: 2px solid #ccc;
    max-width: 2000px;
    background-color: aquamarine;
}

nav {
    text-align: left;
}
.navigation {
    display: flex;
    list-style: none;
    background-color: greenyellow;
}
.navigation li {
    flex: 1 1 100%;
}
.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}
.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

.hero {
    position: relative;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap:.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: .5rem;
    color: navy;
    font-size: 1.3rem;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
width: 22px;
height: 22px;
vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem;
    width: 650px;
    text-align: center;
    font-size: 0.8rem;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}