/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
:root {
    --heading-font: 'Arvo', serif;
  --paragraph-font: 'Roboto', sans-serif;

  --heading-color: #0443b3;
  --heading-background: #5f503c;
  --color-white: #fdfdfd;
  --hover-color: #5f503c;

  --trans-color: rgba(196 207 207 / 0.7);
  --trans-text-color: #04040c;

  --footer-background: #3e3e3e;

  --primary-color: #a5b452;
  --secondary-color: #9888a5;
  --accent1-color: #5f503c;
  --accent2-color: #afaf60;

  --nav-link-color: #fff;
  --nav-background-color: #5f503c;
  --nav-hover-link-color: #5f503c;
  --nav-hover-background-color: #fff;
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1  {
    color: steelblue;
    padding: px;
    margin: 0 0 0 0rem;
    font-weight: 400;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px;
    margin: 0 0 1rem 1rem;
}
p   {
padding: 10px;
}
main {
    max-width: 840px;
}
aside {
    width: 20em;
    text-align: center;
}
aside h2 {
position: absolute;
top: px;
left: 110px;
}
aside img {
width: 200px;
height: auto;
}
p {
padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}